* {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

/* Hero */

.hero {
    margin-bottom: 30px;
    color: #fff;
    display: flex;
}

.hero h5 {
    font-weight: 700;
}

/* Sección filtrar  */

.titulo-filtrar {
    font-size: 25px;
}

.select-sedeElemento {
    outline: none;
    border: none;
    padding: 5px 15px 5px 12px;
    border-radius: 0.3rem;
    margin-right: 10px;
    box-shadow: 8px 8px 10px -3px rgba(0, 0, 0, 0.03);
}

.btn-buscar-filtro {
    padding: 5px 15px;
    background-color: #f2f2f8;
    color: #252525;
    border: none;
    border-radius: 4px;
    box-shadow: 8px 8px 10px -3px rgba(0, 0, 0, 0.03);
}

/* Tabla y buscador de tabla */

.titulo_input {
    display: flex;
    margin-bottom: 30px;
}

.titulo_input .btn-crear-elemento button {
    margin-top: 22px;
    margin-left: 10px;
    width: 50px;
    height: 32px;
    border: none;
    border-radius: 3px;
    background-color: #f2f2f8;
    color: #252525;
    box-shadow: 8px 8px 10px -3px rgba(0, 0, 0, 0.03);
}

#buscador {
    width: 40%;
    border-radius: 0.3rem;
    margin-top: 20px;
    box-shadow: 8px 8px 10px -3px rgba(0, 0, 0, 0.03);
    border: none;
}

/* Cards elementos */

.card {
    border: none;
    border-radius: 10px;
    border: 1px solid #fff;
}

.card-img {
    border: 1px solid #fff;
}

.card .card-title {
    font-size: 25px;
    font-weight: bold;
}

.card .card-text-tipo {
    font-size: 20px;
}

.card .card-text-uso {
    font-size: 15px;
    margin-bottom: 0;
}

.card .card-text-fechacompra {
    font-size: 15px;
}

.card .card-text-nombresede {
    font-size: 20px;
    font-weight: bold;
}

.card .card-text-ciudad {
    font-size: 15px;
    margin: 0;
}

.card img {
    border-radius: 10px;
}

.img-fixed-size {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.btns-card button {
    width: 100%;
}

.btns-card .btn-editar {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Responsive */

@media screen and (max-width: 992px) {
    /* Tabla y buscador de tabla */

    .titulo_input {
        flex-direction: column;
    }

    #buscador {
        width: 60%;
        margin: 0;
    }

    .titulo_input {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 570px) {
    /* Tabla y buscador de tabla */

    .btn-buscar-filtro {
        display: block;
        margin-top: 20px;
    }

    a {
        text-decoration: none;
    }
}

@media screen and (max-width: 392px) {
    /* Tabla y buscador de tabla */

    .btn-buscar-filtro {
        margin-top: 20px;
    }
}
