.card {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.card .card-title {
    font-size: 25px;
    font-weight: bold;
}

.card .card-text-tipo {
    font-size: 20px;
}

.card .card-text-uso {
    font-size: 15px;
    margin-bottom: 0;
}

.card .card-text-fechacompra {
    font-size: 15px;
}

.card .card-text-nombresede {
    font-size: 20px;
    font-weight: bold;
}

.card .card-text-ciudad {
    font-size: 15px;
    margin: 0;
}

.card img {
    border-radius: 10px;
}

.img-fixed-size {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
