/* Hero */

.hero {
    margin-bottom: 50px;
}

/* Sección filtrar  */

.titulo-filtrar {
    font-size: 25px;
}

.select-sedeMaquinas {
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 10px;
    margin-right: 10px;
}

.btn-buscar-filtro {
    padding: 5px 15px;
    background-color: #252525;
    color: #ffff;
    border: none;
    border-radius: 10px;
}

/*buscador de cards */

.titulo_input {
    display: flex;
    margin-bottom: 30px;
}

#buscador {
    width: 40%;
    border-radius: 10px;
    margin-top: 20px;
}

/* Cards máquinass */

.card {
    border: none;
    border-radius: 10px;
}

.card .card-title {
    font-size: 25px;
    font-weight: bold;
}

.card .card-text-grupomuscular {
    font-size: 20px;
}

.card .card-text-fechacompra {
    font-size: 15px;
    margin-bottom: 0;
}

.card .card-text-nombresede {
    font-size: 20px;
    font-weight: bold;
}

.card .card-text-ciudad {
    font-size: 15px;
    margin: 0;
}

.card img {
    border-radius: 10px;
}

.img-fixed-size {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
