/* hero */

.hero {
    margin-bottom: 50px;
}

.hero h1 {
    font-family: "Montserrat", sans-serif;
}

.hero h5 {
    font-family: "Roboto", sans-serif;
}

/* Sección filtrar  */

.titulo-filtrar {
    font-size: 25px;
    font-family: "Roboto", sans-serif;
}

.select-prendas {
    outline: none;
    border: none;
    padding: 5px 40px 5px 10px;
    border-radius: 10px;
    margin-right: 10px;
    font-family: "Roboto", sans-serif;
}

.btn-buscar-filtro {
    padding: 5px 15px;
    background-color: #424242;
    color: #ffff;
    border: none;
    border-radius: 10px;
}

/* buscador de cards */

.titulo_input {
    display: flex;
    margin-bottom: 30px;
}

#buscador {
    width: 40%;
    border-radius: 10px;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
}

.titulo_input .btn-crear-cliente a button {
    margin-top: 22px;
    margin-left: 10px;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 5px;
    background-color: #8ddc97;
}

#tablaRopa {
    width: 100%;
}

.td-acciones button {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #8ddc97;
}




