/* Vista sedes */

.contenedor-ciudades {
    display: flex;
    justify-content: center;
}

.contenedor-ciudades .card {
    display: flex;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
}

.contenedor-ciudades .card-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

.contenedor-ciudades .card-img {
    filter: brightness(60%);
}

.contenedor-ciudades .card-ciudad-tunja {
    margin-right: 10px;
    border: none;
}

.contenedor-ciudades .card-ciudad-barbosa {
    margin-left: 10px;
    border: none;
}

.img-fixed-size {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

/* Responsive */

@media screen and (max-width: 767px) {
    /* Vista sedes */

    .contenedor-ciudades {
        flex-direction: column;
    }

    /* Vista sedesTunja */

    .contenedor-ciudades .card-ciudad-tunja {
        margin-right: 0px;
        margin-bottom: 20px;
    }

    /* Vista sedesBarbosa */

    .contenedor-ciudades .card-ciudad-barbosa {
        margin-left: 0px;
    }
}
